<% @page_title = "Edit Page" %>

<%= link_to("<< Back to List", {:action => "list"}, :class => "back-link") %>

<div class="page new">
	<h2>Update Page</h2>
	
	<%= form_for(:page, :url => {:action => 'update', :id => @page.id}) do |f| %>
	
	<%= render(:partial => "form", :locals => {:f => f}) %>
	
	<div class="form-button">
		<%= submit_tag("Update Page") %>
	</div>
	
	<% end %>
	
</div>